@import "compass/css3";
@import "mixin";

//20180619 add cart header style
.cart_header{
	border-color: #909090;
}

.step_option{
	@extend %SectionLayout;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/*border-bottom: 1px solid #cccccc;*/
	position: sticky;
	top: 0;
	left: 0;
	z-index: 55;
}

.cart_step_row{
	width: 100%;
	margin-top: 16px;
	display: flex;
	align-items: flex-end;
	& .one_step{
		font-size: 15px;
		color: #c3c3c3;
		&.active{
			font-size: 24px;
			font-weight: bold;
			font-style: italic;
			color: #000;
		}
	}

	& .icon_nextstep{
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background-color: #c3c3c3;
		position: relative;
		margin: 0 8px;
		transform: scale(0.9);
		&:after{
			content: ' ❯ ';
			display: block;
			color: #fff;
			text-align: center;
			line-height: 16px;
			font-size: 9px;
		}
	}

	@include pad-width{
		margin-top: 20px;
		& .one_step{
			font-size: 22px;
			&.active{
				font-size: 36px;
			}
		}

		& .icon_nextstep{
			width: 22px;
			height: 22px;
			margin: 0 12px;
			&:after{
				line-height: 22px;
				font-size: 14px;
			}
		}
	}

}

.options{
	width: 100%;
	@extend %SectionLayout;
	display: flex;
	justify-content: flex-end;
	margin: 18px 0 0 0;
	& .one_option{
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&:last-child{
			margin-right: -10px;
		}
		& .icon_check{
			width: 20px;
			height: 20px;
			border: 1px solid #cccccc;
			border-radius: 3px;
		}

		& .icon_delete{
			width: 40px;
			height: 40px;
			background-image: url(../images/mobile/icon_delete.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 60%;
		}
	}

	@include pad-width{
		margin: 16px 0 10px 0;
		& .one_option{
			width: 44px;
			height: 44px;
			& .icon_check{
				width: 24px;
				height: 24px;
			}
			& .icon_delete{
				width: 44px;
				height: 44px;
			}
		}
	}

}

.gotosum{
	width: auto;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    color: #c1c1c1;
    cursor: pointer;
    margin: 18px 10px 0 0;

    @include pad-width{
    	height: 44px;
    	padding: 0 16px;
	    font-size: 1.25rem;
    }
}

.delivery_type_chose{
	display: flex;
	margin: 18px 0 10px 0;
	& .one_option{
		width: 60px;
		height: 40px;
		border: 1px solid #c1c1c1;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 8px;
		font-size: 1.125rem;
		color: #c1c1c1;
		cursor: pointer;
		& span.icon_check{
			display: none;
		}

		&.active{
			border-color: #7c627d;
			background-color: #7c627d;
			font-weight: bold;
			color: #fff; 
		}
	}

	@include pad-width{
		margin: 16px 0 20px 0;
		& .one_option{
			width: 65px;
			height: 44px;
			margin-left: 12px;
			font-size: 1.25rem;
		}
	}
}

.DeliveryType_title{
	@extend %SectionLayout;
	width: 100%;
	& .Large_title{
		font-size: 1.5rem;
		font-weight: bold;
	}

	& .Small_title{
		margin-top: 12px;
		font-size: 1rem;
		color: #666;
		cursor: pointer;
	}

	@include pad-width{
		padding: 0 32px;
		& .Large_title{
			font-size: 1.75rem;
		}
		& .Small_title{
			margin-top: 10px;
			font-size: 1.25rem;
		}
	}

	@include large-pad-width{
		margin-top: 64px;
	}
}

.DeliveryType_Fast{
	margin-top: 6px;
	color: $FastColor;
	& .Small_title{
		display: flex;
		&:after{
			content: '?';
			display: inline-block;
			width: 18px;
			height: 18px;
			border: 1px solid #666;
			border-radius: 50%;
			color: #666;
			font-size: 11px;
			text-align: center;
			line-height: 18px;
			margin-left: 5px;
			margin-top: -4px;
		}
	}
	@include pad-width{
		margin-top: 6px;
		& .Small_title{
			&:after{
				width: 22px;
				height: 22px;
				font-size: 13px;
				line-height: 22px;
				margin-left: 8px;
				margin-top: -3px;
			}
		}
	}
}

.DeliveryType_Normal{
	color: $NormalColor-black;
}

.DeliveryType_Preorder{
	color: $PreorderColor;
}

.TitleType_BonusCoupon{
	color: #333;
}

.TitleType_Addon{
	color: #333;
	margin-top: 32px;
}

/*check style*/
.icon_check{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon_check.active:after{
	content: '✓';
	display: block;
	color: #939334;
	font-size: 1rem;
	font-weight: bold;
}


.cart_list_OneBottle{
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	&:first-child{
		margin-top: 30px;
	}

	@include Cart_Wine_DetailInfo{

	}

	& .count_price{
		@include Cart_Wine_Count_Price{

		}
	}

	& .event_notice{
		width: 100%;
		box-sizing: border-box;
		margin-top: 16px;
		display: flex;
		flex-wrap: wrap;
		cursor: pointer;
		& .icon_notice{
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background-color: #ea3333;
			color: #fff;
			font-size:	16px;
			line-height: 18px;
			text-align: center;
			margin-right: 6px;
			margin-top: 2px;
		}

		& .text{
			width: calc(100% - 24px);
			font-size: 1rem;
			color: #666;
			line-height: 1.5rem;
			& span{
				color :#ea3333;
				font-weight: bold;
				margin-right: 8px;
			}

			& a {
				color: #666;

			}
		}
	}

	@include phone-l{
		justify-content: flex-end;
	}

	@include pad-width{
		justify-content: flex-end;
		& .option_check{
			width: 44px;
			height: 44px;
			top: 45px;
			& .icon_check{
				width: 24px;
				height: 24px;
			}
		}

		& .event_notice{
			width: 100%;
			& .icon_notice{
				width: 24px;
				height: 24px;
				font-size:	20px;
				line-height: 24px;
				text-align: center;
				margin-right: 10px;
			}

			& .text{
				width: calc(100% - 40px);
				font-size: 1.375rem;
				line-height: 2rem;
				& span{
					margin-right: 8px;
				}
			}
		}

		& .btn_delete{
			width: 44px;
		    height: 44px;
		}
	}

	@include pad-width-l {
		& .event_notice{
			margin-top: 0;
		}
	}
}

.cart_list_OneGroup{
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;

	& .gropu_name{
		width: calc(100% - 40px);
		box-sizing: border-box;
		font-size: 1rem;
		line-height: 1.5rem;
		color: #666; 
	}

	& .options{
		width: 40px;
		min-height: 98px;
		margin: 0;
		padding: 0;
		margin-top: 6px;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;;
		& .option_check{
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: -10px;
			margin-right: -10px;
			& .icon_check{
				width: 20px;
				height: 20px;
			    border: 1px solid #cccccc;
			    border-radius: 3px;
			}
		}

		& .option_delete{
			width: 40px;
			height: 40px;
			margin-right: -10px;
			background-image: url(../images/mobile/icon_delete.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 60%;
		}
	}

	& .btn_group_wine_detail_extend{
		width: 100%;
		margin-top: 16px;
		font-size: 1rem;
		color: #666;
		display: flex;
		align-items: center;
		cursor: pointer;
		& span.icon_extend{
			width: 17px;
			height: 17px;
			border-radius: 50%;
			border: 1px solid #999;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			margin-left: 5px;
			&:before{
				width: 9px;
				height: 1px;
				content: '';
				display: block;
				background-color: #666;
			}

			&:after{
				width: 8px;
				height: 1px;
				content: '';
				display: block;
				background-color: #666;
				position: absolute;
				transform: rotate(90deg);
			}

			&.active:after{
				display: none;
			}
		}
	}

	& .grouo_wine_detail{
		margin-top: 16px;
		width: 100%;
	}

	& .group_wine{
		margin-top: 16px;
		&:first-child{
			margin-top: 0;
		}
		@include Cart_Wine_DetailInfo{
			& .bottle_img{
				position: relative;
				& .bottle_count{
					padding: 4px;
					position: absolute;
					bottom: 0;
					left: 0;
					background-color: #666666;
					color: #fff;
					font-size: 1rem;
					font-weight: bold;
				}
			}
		}

		@include  phone-l{
			width: calc(45% + 68px + 14px);
		}
	}

	& .count_price{
		@include Cart_Wine_Count_Price{
				
		}
		margin-top: 0;
	}

	@include phone-l{
		justify-content: flex-end;
		& .gropu_name{
			width: calc(100% - 80px);
		}

		& .options{
			width: 80px;
			flex-wrap: nowrap;
			flex-direction: row-reverse;
			align-content: flex-end;
			margin-top: -10px;
			& .option_check{
				width: 40px;
				height: 40px;
				margin-top: 0;
				& .icon_check{
					width: 20px;
					height: 20px;
				    border: 1px solid #cccccc;
				    border-radius: 3px;
				}
			}

			& .option_delete{
				width: 40px;
				height: 40px;
				margin-right: 0;
				margin-left: 10px;
			}
		}
	}

	@include pad-width{
		justify-content: flex-end;

		& .gropu_name{
			width: calc(100% - 88px);
			padding: 1.15rem;
			padding-left: 0;
			font-size: 1.375rem;
			line-height: 2rem;
			& + .group_wine{
				margin-top: 32px;
			}
		}

		& .options{
			width: 88px;
			flex-wrap: nowrap;
			flex-direction: row-reverse;
			align-content: flex-end;
			& .option_check{
				width: 44px;
				height: 44px;
				margin-top: 0;
				& .icon_check{
					width: 24px;
					height: 24px;
				    border: 1px solid #cccccc;
				    border-radius: 3px;
				}
			}

			& .option_delete{
				width: 44px;
				height: 44px;
				margin-right: 0;
				margin-left: 10px;
			}
		}

		& .group_wine{
			margin-bottom: 24px;
			@include Cart_Wine_DetailInfo{
				& .bottle_img{
					& .bottle_count{
						padding: 10px;
						font-size: 1.375rem;
					}
				}
			}
		}

		& .btn_group_wine_detail_extend{
			font-size: 1.375rem;
			& span.icon_extend{
				width: 24px;
				height: 24px;
				margin-left: 10px;
				&:before{
					width: 11px;
				}

				&:after{
					width: 11px;
				}
			}
		}

	}

	@include pad-width-l{
		& .group_wine{
			width: calc(45% + 40px + 135px + 18px);
		}
	}
}

.cart_list_BottleSoldOut{
	& .group_wine{
		& .bottle_img{
			opacity: 0.4;
		}
		& .bottle_info{
			& .name_en{
				color: #d9d9d9;
			}

			& .name_cn{
				color: #d9d9d9;
			}

			& .status{
				color: #d9d9d9;
				& span{
					&:after{
						background-color: #d9d9d9;
					}
				}
			}
		}
	}

	& .gropu_name{
		opacity: 0.4;
	}

	& .bottle_img{
		opacity: 0.4;
	}

	& .bottle_info{
		& .name_en{
			color: #d9d9d9;
		}

		& .name_cn{
			color: #d9d9d9;
		}

		& .status{
			color: #d9d9d9;
			& span{
				&:after{
					background-color: #d9d9d9;
				}
			}
			& .icon_nobonus{
				opacity: 0.4;
			}
		}
	}

	& .count_price{

		& .count{

			& .text{
				color: #d9d9d9;
			}

			& .icon_minus{
				border: 1px solid #e6e6e6;
				background-color: #f2f2f2;
				&:after{
					background-color: #d9d9d9;
				}
			}

			& .bottle_number{
				color: #d9d9d9;
				border: 1px solid #e6e6e6;
				background-color: #f2f2f2;
			}

			& .icon_plus{
				border: 1px solid #e6e6e6;
				background-color: #f2f2f2;
				&:before{
					background-color: #d9d9d9;
				}
				&:after{
					background-color: #d9d9d9;
				}
			}
		}

		& .price{

			& .text{
				color: #d9d9d9;
			}
			& .bottle_price{
				color: #d9d9d9;
			}
		}

		& .delete_text{
			height: 40px;
			font-size: 1rem;
			line-height: 40px;
			color: #ea3333;
			position: absolute;
			bottom: -11px;
			opacity: 1;
		}
	}

	& .btn_group_wine_detail_extend{
		opacity: 0.4;
	}

	@include phone-l{
		& .count_price{
			& .delete_text{
				bottom: -40px;
				right: 0;
			}
		}
	}

	

	@include pad-width{
		& .count_price{
			& .delete_text{
				height: 44px;
				font-size: 1.375rem;
				line-height: 44px;
				left: 14px;
			}
		}
		
	}

	@include pad-width-l{
		& .count_price{
			& .delete_text{
				text-align: right;
				right:0;
				bottom: -16px;
			}
		}
	}

}

.cart_list_event{
	width: 100%;
	margin-top: 50px;
	& .event_name{
		width: 100%;
		box-sizing: border-box;
		padding: 12px 16px;
		border: 1px solid #cccccc;
		font-size: 1rem;
		line-height: 1.5rem;
		color: #333333;
		font-weight: bold;
		& + .cart_list_OneBottle{
			margin-top: 32px;
		}
	}

	@include pad-width{
		& .event_name{
			font-size: 1.375rem;
			line-height: 2.3rem;
			padding: 16px 20px;
		}
	}
}

.cart_list_event_special{
	width: 100%;
	margin-top: 50px;
	& .event_name{
		width: 100%;
		box-sizing: border-box;
		padding: 12px 16px;
		border: 1px solid #cccccc;
		font-size: 1rem;
		line-height: 1.5rem;
		color: #333333;
		font-weight: bold;
		
	}

	& .event_info{
		margin-top: 10px;
		& .row{
			margin-top: 5px;
			&:first-child{
				margin-top: 0;
			}

			& .text{
				font-size: 1rem;
				color: #666;
				line-height: 1.5rem;
				& span{
					display: inline-block;
					margin: 0 8px;
					font-weight: bold;
				}

				& span.fast{
					color: #ef9c00;
				}

				& span.normal{
					color: #cf3448;
				}

				& span.preorder{
					color: #0071bc;
				}

				& span.number{
					color: #ea3333;
				}
			}
		}
		& + .cart_list_OneBottle{
			margin-top: 32px;
		}
	}

	& .event_sum{
		width: 100%;
		margin-top: 50px;
		border-top: 1px solid #cccccc;
		& .count_price{
			@include Cart_Wine_Count_Price{
					
			}
		}
	}

	@include phone-l{
		& .event_sum{
			display: flex;
			justify-content: flex-end;
		}
	}

	@include pad-width{
		& .event_name{
			font-size: 1.375rem;
			line-height: 2.3rem;
			padding: 16px 20px;
		}

		& .event_info{
			margin-top: 20px;
			& .row{
				& .text{
					font-size: 1.375rem;
					line-height: 2.3rem;
				}
			}
		}

		& .event_sum{
			display: flex;
			justify-content: flex-end;
		}
	}


}

.cart_list_gift{
	width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    & .gift_name{
		width: 100%;
		box-sizing: border-box;
		padding: 12px 16px;
		border: 1px solid #cccccc;
		font-size: 1rem;
		line-height: 1.5rem;
		color: #333333;
		font-weight: bold;

		& + .gift_wine{
			margin-top: 24px;
		}
	}

	& .gift_wine{
		margin-top: 30px;
		width: 100%;
		box-sizing: border-box;
		padding-bottom: 16px;
    	display: flex;
    	flex-wrap: wrap;
		@include Cart_Wine_DetailInfo{}

		& .bottle_img{
			margin-left: 0;
		}

		& .count_price{
			@include Cart_Wine_Count_Price{
				
			}
		}
	}

	@include phone-l{
		& .gift_wine{
	    	justify-content: flex-end;
	    	& .bottle_info{
	    		width: calc(100% - 70px - 14px);
	    	}
		}
	}

	@include pad-width{
		
		& .gift_name{
			padding: 1.5rem;
			font-size: 1.375rem;
			line-height: 2rem;
			& + .gift_wine{
				margin-top: 32px;
			}
		}

		& .gift_wine{
	    	justify-content: flex-end;
	    	& .bottle_info{
	    		width: calc(100% - 135px - 18px);
	    	}
		}
	}

	@include pad-width-l{
		& .gift_wine{
	    	justify-content: flex-start;
	    	& .bottle_info{
	    		width: calc(45% + 40px);
	    	}
		}
	}	
}

.cart_list_BonusCoupon{
	width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    &:last-child{
    	border:none;
    }
	& .BonusCoupon_img{
		width: 68px;
	    height: 68px;
	    border: 1px solid #cccccc;
	    box-sizing: border-box;
	    & img{
	    	width: 100%;
    		height: auto;
	    }
	}

	& .BonusCoupon_info{
		width: calc(100% - 68px - 14px);
    	margin-left: 14px;
    	font-size: 1rem;
    	line-height: 1.5rem;
    	color: #666;
	}

	& .BonusCoupon_count{
		width: 100%;
    	margin-top: 24px;
    	display: flex;
    	justify-content: flex-end;
    	align-items: flex-end;

    	& .text{
    		font-size: 1rem;
    		color: #333;
    	}

    	& .number{
    		margin:0 10px;
		    font-size: 1.5rem;
		    color: #000;
		    font-weight: bold;
    	}
	}

	@include pad-width{

		& .BonusCoupon_img{
			width: 135px;
		    height: 135px;
		}

		& .BonusCoupon_info{
			width: calc(100% - 135px - 18px);
	    	margin-left: 18px;
	    	font-size: 1.375rem;
	    	line-height: 2rem;
		}

		& .BonusCoupon_count{
	    	& .text{
	    		font-size: 1.375rem;
	    	}

	    	& .number{
	    		margin:0 10px;
			    font-size: 2rem;
	    	}
		}
	}
}

.order_sum{
	width: 100%;
	padding: 16px;
	box-sizing: border-box;
	background-color: #f2f2f2;
	& .order_summary{
		font-size: 1rem;
		color: #666;
		line-height: 1.5rem;
		& span{
			color: #c29c20;
			font-weight: bold;
			margin: 0 5px;
		}
	}

	& .order_sum_row{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: 24px;
		font-size: 1rem;
		color: #666;
		&:first-child{
			margin-top: 0;
		}

		& .title{
			position: relative;
		}

		& .icon_info{
			display: inline-block;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			border: 1px solid #666;
			font-size: 13px;
			color: #666;
			line-height: 18px;
			text-align: center;
			cursor: pointer;
			margin-left: 8px;
			position: relative;
			top: -2px;
		}

		& .text{
			font-size: 1rem;
			color: #666;
		}

		& a {
			color: #296993;
			margin-left: 13px;
		}
	}

	& .order_sum_btnrow{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-top: 16px; 
		& .btn_combine{
			width: 100%;
			height: 40px;
			box-sizing: border-box;
			border: 1px solid #cccccc;
			border-radius: 4px;
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			& .icon_check{
				width: 16px;
				height: 16px;
				border: 1px solid #cccccc;
				border-radius: 3px;
			}
			& .text{
				font-size: 1rem;
				color: #666;
				margin-left: 10px;
			}
		}

		& .btn_freedelivery{
			width: 100%;
			height: 40px;
			box-sizing: border-box;
			border: 1px solid #939334;
			border-radius: 4px;
			background-color: #939334;
			margin-top: 8px;
			font-size: 1rem;
			line-height: 40px;
			text-align: center;
			color: #fff;
			cursor: pointer;
		}

		& .btn_linkedcard{
			width: 100%;
			height: 40px;
			box-sizing: border-box;
			border: 1px solid #939334;
			border-radius: 4px;
			background-color: #939334;
			margin-top: 8px;
			font-size: 1rem;
			line-height: 40px;
			text-align: center;
			color: #fff;
			cursor: pointer;
		}

		& .text{
			font-size: 1rem;
			line-height: 1.5rem;
			color: #666;
		}

		& a {
			color: #296993;
		}

		& .only_text{
			width: 100%;
			font-size: 1rem;
			color: #8b8b8b;
			text-align: right;
		}
	}

	@include phone-l{
		& .order_sum_btnrow{
			justify-content: space-between;
			& .btn_combine{
				width: calc(50% - 8px);
			}

			& .btn_freedelivery{
				width: calc(50% - 8px);
				margin-top: 0;
			}

			& .btn_linkedcard{
				width: calc(50% - 8px);
				margin-left: calc(50% - 8px + 16px);
			}
		}
	}

	@include pad-width{
		padding: 32px;
		& .order_summary{
			font-size: 1.375rem;
			line-height: 2.3rem;
		}

		& .order_sum_row{
			margin-top: 32px;
			font-size: 1.375rem;
			& .icon_info{
				display: inline-block;
				width: 22px;
				height: 22px;
				font-size: 16px;
				line-height: 22px;
				margin-left: 8px;
				top: -3px;
			}

			& a {
				margin-left: 18px;
			}
		}

		& .order_sum_btnrow{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 24px; 
			& .btn_combine{
				width: calc((90% - 16px)/2);
				height: 50px;
				border-radius: 5px;
				margin-right: 12px;
				& .icon_check{
					width: 20px;
					height: 20px;
				}
				& .text{
					font-size: 1.375rem;
					margin-left: 12px;
					line-height: 50px;
				}
			}

			& .btn_freedelivery{
				width: calc((80% - 16px)/2);
				height: 50px;
				border-radius: 5px;
				margin-top: 0;
				font-size: 1.375rem;
				line-height: 50px;
			}

			& .btn_linkedcard{
				height: 50px;
				border-radius: 5px;
				margin-top: 12px;
				font-size: 1.375rem;
				line-height: 50px;
			}

			& .text{
				font-size: 1.375rem;
				line-height: 2rem;

			}

			& .only_text{
				font-size: 1.375rem;
			}
		}
	}
}

.order_sum_dark{
	background-color: #e5e5e5;
	& .order_sum_row{
		& .number{
			font-size: 1.5rem;
			color: #c20012;
			font-weight: bold;
			& span{
				font-size: 1.125rem;
				font-weight: normal;
			}
		}
	}
}

.order_sum_storage{

}

.cart_list_addon{
	padding: 16px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	& .addon_event_name{
		width: 100%;
	    background-color: #f2f2f2;
	    padding: 1rem;
	    box-sizing: border-box;
	    font-size: 1rem;
	    line-height: 1.5rem;
	    color: #666;
	}

	& .addon_wine{
		margin-top: 24px;
		width: 100%;
	    box-sizing: border-box;
	    display: flex;
	    flex-wrap: wrap;
	    @include Cart_Wine_DetailInfo{
	    	& .bottle_info{
	    		& .status{
	    			& span{
		    			&:nth-child(2):after{
							display: none;
						}
					}
	    		}
	    	}
	    }

	    & .bottle_img{
	    	margin-left: 0;
	    }
	}

	& .addon_addcart_row{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		margin-top: 12px;
		& .original_price{
			width: 100%;
			text-align: right;
			font-size: 1rem;
			color: #d9d9d9;
			text-decoration: line-through;
			margin-bottom: 10px;
		}
		& .price{
			display: flex;
			align-items: flex-end;
			& .text{
				font-size: 1rem;
				color: #666;
			}

			& .number{
				margin-left: 10px;
				font-size: 1.5rem;
				font-weight: bold;
				& span{
					font-size: 1.125rem;
					font-weight: normal;
				}
			}
		}

		& .btn_addcart{
			margin-left: 10px;
			width: 120px;
			height: 40px;
			font-size: 1rem;
			color: #fff;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}

		&.normal{
			& .price{
				& .number{
					color: $NormalColor;
				}
			}

			& .btn_addcart{
				background-color: $NormalColor;
				& .icon_plus{
					width: 13px;
					height: 13px;
					position: relative;
					margin-left: 6px;
					margin-top: -6px;
					background-image: url(../images/mobile/addcart_icon_normal.png);
					background-size: 250%;
					background-position: center;
				}
			}
		}

		&.fast{
			& .price{
				& .number{
					color: $FastColor;
				}
			}

			& .btn_addcart{
				background-color: $FastColor;
				& .icon_plus{
					width: 13px;
					height: 18px;
					position: relative;
					margin-left: 6px;
					margin-top: -4px;
					background-image: url(../images/mobile/addcart_icon_fast.png);
					background-size: 180%;
					background-position: center;
				}
			}
		}

		&.preorder{
			& .price{
				& .number{
					color: $PreorderColor;
				}
			}

			& .btn_addcart{
				background-color: $PreorderColor;
				& .icon_plus{
					width: 15px;
					height: 13px;
					position: relative;
					margin-left: 6px;
					margin-top: -6px;
					background-image: url(../images/mobile/addcart_icon_preorder.png);
					background-size: 180%;
					background-position: center;
				}
			}
		}
	}

	@include phone-l{
		align-items: flex-start;
		& .addon_wine{
			width: calc(45% + 68px + 14px);
		}

		& .addon_addcart_row{
			width: calc(55% - 68px - 14px - 14px);
			margin-top: 24px;

			& .btn_addcart{
				margin-top: 12px;
			}
		}
	}

	@include pad-width{
		padding: 32px;
		& .addon_event_name{
		    padding: 1.2rem;
		    font-size: 1.375rem;
		    line-height: 2rem;
		}

		& .addon_addcart_row{
			margin-top: 18px;
			& .original_price{
				font-size: 1.375rem;
				margin-bottom: 16px;
			}
			& .price{
				& .text{
					font-size: 1.375rem;
				}

				& .number{
					font-size: 2rem;
					& span{
						font-size: 1.375rem;
					}
				}
			}

			& .btn_addcart{
				margin-left: 16px;
				width: 160px;
				height: 50px;
				font-size: 1.375rem;
				border-radius: 5px;
			}

			&.normal{

				& .btn_addcart{
					& .icon_plus{
						width: 15px;
						height: 15px;
						margin-left: 7px;
						margin-top: -5px;
					}
				}
			}

			&.fast{

				& .btn_addcart{
					& .icon_plus{
						width: 15px;
						height: 20px;
						background-size: 180%;
					}
				}
			}

			&.preorder{

				& .btn_addcart{
					& .icon_plus{
						width: 17px;
						height: 17px;
					}
				}
			}
		}
	}

	@include pad-width-l{
		& .addon_addcart_row{
			margin-top: 24px;
			width: calc(55% - 135px - 18px - 18px);
			& .original_price{
				margin-bottom: 12px;
			}
			& .price{
				& .text{
					font-size: 1.375rem;
				}

				& .number{
					font-size: 2rem;
				}
			}

			& .btn_addcart{
				margin-top: 0;
				width: 148px;
			}
		}

		& .addon_wine{
			width: calc(45% + 135px + 18px);

			& .bottle_info{
				width: calc(100% - 135px - 18px);
			}
		}
	}
}

.proclaim{
	width: calc(100% - 32px);
	margin: 0 16px;
	margin-top: 20px;
	padding: 16px;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-radius: 5px;
	& .proclaim_row{
		padding-left: 10px;
		box-sizing: border-box;
		font-size: 0.625rem;
		line-height: 1.1rem;
		color: #999; 
		margin-top: 12px;
		position: relative;
		&:first-child{
			margin-top: 0;
		}

		&:before{
			content: '';
			width: 5px;
			height: 5px;
			display: inline-block;
			border-radius: 50%;
			background-color: #999;
			position: absolute;
			left: 0;
			top: 5px;
		}

		& span{
			color: $NoticeColor;
		} 

		& strong{
			text-decoration: underline;
		}

		& a{
			color: #999;
		}
	}

	@include pad-width{
		width: calc(100% - 64px);
		margin: 0 32px;
		margin-top: 28px;
		padding: 24px;
		& .proclaim_row{
			padding-left: 16px;
			font-size: 1rem;
			line-height: 1.5rem; 
			margin-top: 16px;
			&:before{
				content: '';
				width: 6px;
				height: 6px;
				display: inline-block;
				border-radius: 50%;
				background-color: #999;
				position: absolute;
				left: 0;
				top: 7px;
			}
		}
	}
}

.confirm18{
	width: 100%;
    height: 60px;
    overflow: hidden;
    margin-top: 24px;
    position: relative;
    cursor: pointer;
    & .icon_check{
    	width: 16px;
    	height: 16px;
    	border: 1px solid #cccccc;
    	border-radius: 3px;
    	position: absolute;
    	top: 5px;
    	left: calc(50% - 94px - 26px);
    }

    & .text{
    	color: #666;
    	text-align: center;
    	& .large{
    		font-size: 30px;
    	}

    	& .small{
    		font-size: 14px;
    		margin-top: 5px;
    	}
    }

    & .btn_ordersubmit{
    	width: 176px;
	    height: 50px;
	    text-align: center;
	    line-height: 50px;
	    box-sizing: border-box;
	    font-size: 24px;
	    font-weight: bold;
	    color: #fff;
	    background-color: #939334;
	    border-radius: 5px;
	    margin: 0 auto;
	    margin-top: 12px;
    }

    & .additem{
    	font-size: 16px;
	    text-align: center;
	    line-height: 25px;
	    color: #666666;
	    margin-top: 12px;
	    cursor: pointer;
	    & span{
	    	color: #7e272d;
		    text-decoration: underline;
		    font-weight: bold;
		    margin-left: 5px;
		    cursor: pointer;
	    }
    }

    @include pad-width{
    	margin-top: 48px;
    	height: 70px;
    	& .icon_check{
	    	top: 8px;
	    	left: calc(50% - 111px - 26px);
	    }

    	& .text{
	    	& .large{
	    		font-size: 36px;
	    	}

	    	& .small{
	    		font-size: 18px;
	    		margin-top: 10px;
	    	}
	    }

	    & .btn_ordersubmit{
	    	width: 230px;
		    height: 60px;
		    text-align: center;
		    line-height: 60px;
		    font-size: 28px;
	    }

	    & .additem{
	    	font-size: 1.375rem;
		    line-height: 2rem;
		    margin-top: 20px;
	    }

    }
}

.animate_slideupbox{
	width: 100%;
    height: 59px;
    top: 0;
    position: absolute;
}

/*活動折扣特化style*/

#EventDiscountInfoWindow .PopWindow_content .PopWindow_content_text{
	display: flex;
	justify-content: space-between;
	padding-bottom: 16px;
	border-bottom: 1px dotted #cccccc;
	&:last-child{
		border:none;
	}
}

#EventDiscountInfoWindow .PopWindow_content .PopWindow_content_text .event_discount{
	font-weight: bold;
	margin-left: 16px;
}

/************以下為step3***************/

.step3_option{
	position: relative;
	padding-bottom: 16px;
	border:none;
}

.cart_list_layout, .cart_sum_layout{
	@extend %SectionLayout;
	margin-bottom: 24px;
}


#Form_RecordedAddress, #Form_RecordedCompany{
	position: relative;
	margin-top: 16px;
	& .btn_edit{
		padding: 0 12px;
		height: 45px;
		border: 1px solid #cccccc;
		border-radius: 4px;
		font-size: $PhoneSecondTitleFontSize;
		color: $TextColor;
		line-height: 45px;
		cursor: pointer;
		position: absolute;
		top: -67px;
		right: 0;
	}

	& .btn_save{
		padding: 0 12px;
		height: 45px;
		border: 1px solid #cccccc;
		border-radius: 4px;
		font-size: $PhoneSecondTitleFontSize;
		color: $TextColor;
		line-height: 45px;
		cursor: pointer;
		position: absolute;
		top: -67px;
		right: 0;
		display: flex;
		align-items: center;
		& .checkbox_layout{
			margin-top:0;
		}
	}

	& .cart_form_row {
		& .text{
			font-size: 1rem;
		    color: #999;
		    line-height: 1.5rem;
		    margin-top: 8px;
		}
	}

	& .recorded_data{
		margin-bottom: 40px;
		& .text{
			margin-top: 2px;
			color:#666;
		}

		& .NoticeText{
			margin-top:0;
		}

	}

	@include pad-width{
		& .btn_edit{
			top: -63px;
			right: 205px;
			height: calc(45px - 1.5rem);
			padding: 0.75rem;
			border-color: #cccccc;
			line-height: calc(45px - 1.5rem);
			font-size: 1.125rem;
		}

		& .recorded_data{
			margin-top: 0;

			& .text{
				font-size: 1.375rem;
    			line-height: 2.3rem;
			}
		}
	}

	@include pad-width1024{
		& .btn_edit{
			right: 326px;
		}
	}
}

#Form_PurchaseInfo{
	position: relative;
	margin-top: 16px;
	& .btn_edit{
		padding: 0 12px;
		height: 40px;
		border: 1px solid #cccccc;
		border-radius: 4px;
		font-size: $PhoneSecondTitleFontSize;
		color: $TextColor;
		line-height: 40px;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
	}

	& .cart_form_row {

		& .text{
			margin-top: 2px;
			color: #666;
		}
	}

	@include pad-width{
		& .btn_edit{
			height: calc(45px - 1.5rem);
			padding: 0.75rem;
			border-color: #cccccc;
			line-height: calc(45px - 1.5rem);
			font-size: 1.125rem;
		}
	}

	@include pad-width1024{
		& .btn_edit{
			right: 110px;
		}
	}
}

.cart_sum_layout{
	& .BTN_Order_Detail_extend{
		margin-left: 0;
		font-size: 1.125rem;
	}

	@include pad-width{
		& .BTN_Order_Detail_extend{
			font-size: 1.375rem;
		}
	}

	@include pad-width1024{
		& .BTN_Order_Detail_extend{
			margin-left: 120px;
		}
	}
}

.cart_form_row{
	margin-top:1.25rem;
	&:after{
		@extend %clearfix;
	}

	& .formTitle{
		font-size: $PhoneSecondTitleFontSize;
		color: $TextColor;
		width: 100%;
	}

	& .formTitle+.checkbox_layout+.checkbox_layout{
		margin-top:0;
	}

	& .text{
		font-size: $PhoneSecondTitleFontSize;
		color: #999;
		line-height: 1.5rem;
		margin-top: 8px; 
	}

	& input {
		width: 100%;
		height: 45px;
		line-height: 46px;
		padding: 0 0.5rem;
		font-size: 1rem;
		color: $TextColor;
		margin-top: 0.5rem;
		&::-webkit-input-placeholder { /* WebKit browsers */
		    color: #999;
		}
		&::-moz-input-placeholder{
			color: #999;
		}
		&:-moz-input-placeholder{
			color: #999;
		}
		&:-ms-input-placeholder{
			color: #999;
		}
	}

	& .checkbox_layout{
		width: 100%;
		& .number_paperbag{
			margin-top:0;
			& input[type='number']{
				margin:0 6px;
			}
		}
	}

	& .Radio_Sexual_row{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 10px;
		& .Radio_Sexual{
			padding: 0;
			width: calc((100% - 1rem)/3);
			height: 45px;
			line-height: 45px;
			font-size: 1rem;
			text-align: center;
		}
	}

	& .Radio_Delivery_row{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		& .Radio_DeliveryTime{
			padding: 0;
			width: 100%;
			height: 45px;
			line-height: 45px;
			font-size: 1rem;
			text-align: center;
			margin-top: 0.5rem;
			margin-left:0;
		}
	}

	& #DeliveryInfo_Sex{
		& .Radio_Sexual{
			width: calc((100% - 0.5rem)/2);
		}
	}

	

	& .Radio_Payment{
		padding: 0;
		width: 100%;
		height: 45px;
		line-height: 45px;
		font-size: 1rem;
		text-align: center;
		margin-top: 0.5rem;
		margin-left:0;
	}

	& .Radio_invoice{
		padding: 0;
		width: 100%;
		height: 45px;
		line-height: 45px;
		font-size: 1rem;
		text-align: center;
		margin-top: 0.5rem;
		margin-left:0;
	}

	& .donate_code{
		width: 100%;
		margin-top: 10px;
		display: block;
		text-align: center;
	}

	& .Radio_remittance{
		padding: 0;
		width: 100%;
		height: 45px;
		line-height: 45px;
		font-size: 1rem;
		text-align: center;
		margin-top: 0.5rem;
		margin-left:0;
	}

	& .Radio_infotext{
		font-size: 1rem;
		line-height: 1.5rem;
		color: #999;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		text-align: center;
	}

	& .NoticeText{
		width: 100%;
		color: $NoticeColor;
		font-size: 1rem;
		line-height: 1.5rem;
		margin-top: 0.5rem;
		& a{
			display: inline;
			margin: 0;
		}
	}

	& textarea{
		width:100%;
		height: 150px;
		margin-top:0.5rem;
		font-size: 1rem;
		padding:10px;
		line-height: 1.5rem;
		color: $TextColor;
		&::-webkit-teatarea-placeholder { /* WebKit browsers */
		    color: #999;
		}
		&::-moz-teatarea-placeholder{
			color: #999;
		}
		&:-moz-teatarea-placeholder{
			color: #999;
		}
		&:-ms-teatarea-placeholder{
			color: #999;
		}
	}

	& a{
    	margin: 0.5rem 0;
		color: #666;
		text-decoration: underline;
		width: 100%;
		text-align: center;
	}

	& .checkbox_text{
		width: calc(100% - 40px);
		font-size: 1rem;
		line-height: 1.5rem;
		color: $TextColor;
	}

	& .img{
		width: 100%;
		margin-top: 16px;

		& img{
			width: 100%;
			height: auto;
		}
	}

	& #DeliveryInfo_Address, #CompanyInfo_Address{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	& #ReuseBox , #ReusePaperMaterial {
		align-items: flex-start;
		& .option_check{
			margin-top: -6px;
		}
	}

	& #ReusePaperMaterial{
		margin-top: 8px;
	}

	@include pad-width{
		margin-top: 2rem;

		& .text{
			font-size: 1.375rem;
    		line-height: 2.3rem;
		}

		& .formTitle{
			font-size: $padContentFontSize;
		}

		& input{
			height:50px;
			line-height: 50px;
			font-size: 1.375rem;
		}

		& textarea{
			line-height: 2.3rem;
			font-size: 1.375rem;
		}

		& .RadioBox{
			height: 50px;
			line-height: 50px;
			font-size: 1.375rem;
		}

		& .NoticeText{
			font-size: 1.375rem;
			line-height: 2.3rem;
		}

		& .donate_code{
			margin-top: 16px;
			font-size: 1.375rem;
		}

		& .Radio_infotext{
			margin-top: 16px;
			font-size: 1.375rem;
			line-height: 2.3rem;
		}

		& .checkbox_text{
			font-size: 1.375rem;
			line-height: 2.3rem;
			margin-top: 3px;
		}

		& .Radio_Payment{
			width: calc((100% - 20px)/3);
		}

		& .Radio_DeliveryTime{
			width: calc((100% - 20px)/3);
		}

		&.delivery_datetime{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&.payment{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		& .Radio_Sexual_row{
			& .Radio_Sexual{
				font-size: 1.375rem;
			}
		}

		& #ReuseBox , #ReusePaperMaterial {
			align-items: center;
			& .option_check{
				margin-top: 0;
			}
		}
	}

	@include pad-width1024{
		padding: 0 120px;

	}

	@include large-pad-width{
		padding: 0 220px;
	}
}

.cart_form_row.paperbag_check{
	margin-top:0;
}

.cart_form_row.empty{
	height: 40px;
	@include pad-width{
		display: none;
	}
}

.form_delivery_noticeText{
	margin-top:0;
	@include pad-width{
		padding: 0;
	}
}

.form_phone{
	& .center_text{
		font-size: 1rem;
		color: #999;
		text-align: center;
		margin-top: 1rem;
	}

	& .ZoneCode{
		width: calc(80px - 1.5rem);
		float: left;
		height:auto;
		font-size: 1.125rem;
		margin-right: 0.5rem;
		margin-top: 1rem;
		& .dropdown_text{
			font-size: 1.125rem;
			height: 1.125rem;
			line-height: 1.125rem;
		}
	}

	& input.ZoneCodeinput[type=text]{
		width: calc(100% - 82px - 0.5rem);
		float: right;
		margin-top: 1rem;
	}

	& input.ZoneCodeinput2[type=text]{
		width: calc(100% - 82px - 0.5rem);
		float: right;
		margin-top: 1rem;
	}

	@include pad-width{
		& .ZoneCode {
			padding: 0.8rem;
			& .dropdown_text{
				font-size: 1.375rem;
				height: 1.375rem;
				line-height: 1.375rem;
			}
		}

		& input.ZoneCodeinput[type=text]{
			width: calc(100% - 85px - 0.5rem);
		}

		& input.ZoneCodeinput2[type=text]{
			width: calc(100% - 85px - 0.5rem);
		}
	}

}

.form_Address{
	& .dropdown{
		width: calc(100% - 1.5rem - 2px);
		margin-top: 0.5rem;
		text-align: center;
		
		& .dropdown_text{
			font-size: 1rem;
			height: 18px;
			line-height: 1rem;
			& span{
				display: inline-block;
				height: 18px;
				margin-top: 3px;
			}
		}
	}

	@include pad-width{
		display: flex;
		flex-wrap: wrap;

		& .district{
			width: 150px;
			margin-right: 10px;
		}

		& .dropdown{
			& .dropdown_text{
				font-size: 1.125rem;
				line-height: 1.125rem;
				& span{
					margin-top: 1px;
				}
			}
		}

		
	}
}

.form_Recorded{
	display: flex;
	justify-content: flex-start;
	& .dropdown{
		box-sizing: border-box;
		width: 170px;
		height: 47px;
		margin-top: 0.5rem;
		text-align: center;
		& .dropdown_text{
			font-size: 1rem;
			height: 18px;
			line-height: 1rem;
			& span{
				display: inline-block;
				height: 18px;
				margin-top: 3px;
			}
		}
	}

	@include pad-width{
		display: flex;
		justify-content: flex-end;
		margin-top: 10px;
		& .dropdown{
			width: 170px;
			& .dropdown_text{
				font-size: 1.125rem;
				line-height: 1.125rem;
				& span{
					margin-top: 1px;
				}
			}
		}
	}
}

.form_invoice{
	& .Radio_infotext{
		text-align:left;
	}

	@include pad-width1024{
		& .Radio_infotext{
			width: 60%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.payment_infotext{
	margin-top:0.5rem;
	font-size: $PhoneContentFontSize;
	color: $TextColor;
	line-height: 1.25rem;
	& span{
		display:inline-block;
		color: $NoticeColor;
		margin: 0 5px;
		font-weight: bold;
	}

	@include pad-width{
		font-size: $padContentFontSize;
		line-height: 1.75rem;
	}
}

.remittance_infotext{
	margin-top:0.5rem;
	font-size: $PhoneContentFontSize;
	color: #999;
	line-height: 1.25rem;
	& span{
		display:inline-block;
		color: $NoticeColor;
		margin: 0 5px;
		font-weight: bold;
	}

	@include pad-width{
		font-size: $padContentFontSize;
		line-height: 1.75rem;
	}
}

.invoice_radiobox_layout{
	margin: 1rem auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& div.Radio_invoice_unit{
		padding: 0.5rem;
		width: 80px;
		height: 80px;
		border: $BorderColor;
		color: #333;
		font-size: 1rem;
		line-height: 24px;
		text-align: center;
		margin-left: 0.3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		@include border-radius(4px);
		@include box-sizing(border-box);
		&:first-child{
			margin-left: 0;
		}

		&:before{
			content:'';
			height: 100%;
			display:inline-block;
			vertical-align: middle;
		}

		& span{
			display:inline-block;
			vertical-align:middle;
			color: #d9d9d9;
		}
	}

	& div.Radio_invoice_unit.RadioBox_active{
		border-color: #333;
		border-width: 2px;
		& span{
			color: #333;
		}
	}

	& .invoice_radiobox_row{
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
		display: flex;

		& .PopWindow_content_text{
			width: calc(100% - 26px);
			margin-left: 10px;
			margin-top: -5px;
		}

		& .icon_check{
			width: 16px;
		    height: 16px;
		    border: 1px solid #cccccc;
		    border-radius: 3px;
		}
	}

	@include pad-width{
		& div.Radio_invoice_unit{
			padding: 0.75rem;
			width: 100px;
			height: 100px;
			font-size: 1.25rem;
		}
	}

	@include pad-width1024{
		width: 60%;
	}
}

.order_detail{

	& .one_delivery_type{
		margin-top: 24px;
	}

	& .row_title{
		width: 100%;
		height: 40px;
		color: #666;
		font-size: 1rem;
		font-weight: bold;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ebebeb;
		& .wine_info{
			width: 80%;
			text-align: center;
			display: flex;
			justify-content: center;
			& span{
				letter-spacing: 5px;
			}
		}

		& .wine_number{
			width: 20%;
			text-align: center;
		}
	}

	& .row{
		margin-top: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& .wine_info{
			width: 80%;
			font-size: 1rem;
			color: #666;
			& .wine_nameCN{
				line-height: 1.5rem;
			}

			& .wine_nameEN{
				color: #999;
				line-height: 1.2rem;
			}

			& .wine_detail{
				color: #999;
				line-height: 1.2rem;
				margin-top: 5px;
				display: flex;
				& span{
					&:after{
						content: '';
						display: inline-block;
						width: 1px;
						height: 10px;
						background-color: #999;
						margin: 0 8px;
					}

					&:last-child:after{
						display: none;
					}
				}
			}
		}

		& .wine_number{
			width: 20%;
			text-align: center;
			font-size: 1rem;
			color: #666;
		}
	}

	@include pad-width{
		& .row_title{
			font-size: 1.375rem;
			height: 50px;
		}

		& .row{
			margin-top: 24px;
			& .wine_info{
				font-size: 1.375rem;
				
				& .wine_nameCN{
					line-height: 2.3rem;
				}

				& .wine_nameEN{
					line-height: 2rem;
				}

				& .wine_detail{
					line-height: 2rem;
					& span{
						&:after{
							height: 14px;
							margin: 0 12px;
						}
					}
				}
			}

			& .wine_number{
				font-size: 1.375rem;
			}


		}
	}

	@include pad-width1024{
		padding: 0 120px;
		box-sizing: border-box;
	}
}

.sum_detail{
	width: 100%;
	margin-top: 24px;
	& .row{
		width: 100%;
		display: flex;
		align-items: flex-end;
		margin-top: 20px;
		justify-content: space-between;
		& .text{
			font-size: 1rem;
			color: #666;
			& .icon_info{
				display: inline-block;
			    width: 18px;
			    height: 18px;
			    border-radius: 50%;
			    border: 1px solid #666;
			    font-size: 13px;
			    color: #666;
			    line-height: 18px;
			    text-align: center;
			    cursor: pointer;
			    margin-left: 8px;
			    position: relative;
			    top: -2px;
			}

			& a {
				color: #296993;
    			margin-left: 13px;
			}
		}

		& .total{
			font-size: 1.5rem;
		    color: #c20012;
		    font-weight: bold;
		}
	}

	@include pad-width{
		& .row{
			margin-top: 32px;
			& .text{
				font-size: 1.375rem;
				line-height: 2.3rem;
				& .icon_info{
					display: inline-block;
				    width: 22px;
				    height: 22px;
				    font-size: 16px;
				    line-height: 22px;
				    margin-left: 8px;
				    top: -3px;
				}
			}

			& .total{
				font-size: 1.5rem;
			}
		}
	}

	@include pad-width1024{
		padding: 0 120px;
		box-sizing: border-box;
	}
}

.btn_submit{
	width: 176px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #939334;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 24px;

    @include pad-width{
    	width: 300px;
    	margin-top: 48px;
    	height: 65px;
    	line-height: 65px;
    }
}

.ReviseOrder_text{
	padding: 0 16px;
	font-size: $PhoneContentFontSize;
	color: $TextColor;
	line-height: 1.3rem;
	margin-top: 0.875rem;
	& span{
		color: $NoticeColor;
		text-decoration: underline;
	}

	@include pad-width{
		padding: 0 20px;
		font-size: $padContentFontSize;
		line-height: 1.75rem;
	}

	@include large-pad-width{
		padding: 0 40px;
	}
}



.Radio_remittance_extend{
	margin-bottom: 16px;
}

/*****loading window*******/
#LoadingWindow{
	& .PopWindow_content{
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

	@include pad-width{
		align-items: center;
	}

}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 128px;
  margin-top: 40px;
  @include pad-width{
		margin-top: 0;
	}
}
.lds-grid div {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #999;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 48px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 88px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 48px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 48px;
  left: 48px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 48px;
  left: 88px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 88px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 88px;
  left: 48px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 88px;
  left: 88px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.DeliveryCostTable{
	margin-bottom: 16px;
	color: #666;
	line-height: 1.3rem;
	& th{
		height: 50px;
		color: #000;
		font-weight: bold;
		text-align: center;
		border-bottom:1px solid #cccccc;
	}

	& tr:nth-child(odd){
		background: #f2f2f2;
	}

	& tr:first-child{
		background: #fbfbfb;
	}

	& td {
		height: 48px;
		padding: 10px 16px;
		text-align: center;
	}

	& td:nth-child(2){
		text-align: right;
	}

	& .cost{
		font-weight: bold;
		color: $NoticeColor;
	}
}
