@import "compass/css3";
@import "mixin";

.CWC .header{
	border-color: $CWCColor;
}

.wine_bottle_list{
	box-sizing: border-box;
	padding: 1rem;
	padding-top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	& .one_bottle_img{
		margin-top: 40px;
		margin-right: 16px;
		box-sizing: border-box;
		width: calc((100% - 16px)/2);
		height: calc((100vw - 48px)/2*1.5);
		@extend %backgroundimagecontain;
		cursor: pointer;
		&:nth-child(2n){
			margin-right: 0;
		}
	}

	& .one_bottle{
		width: 100%;
		box-sizing: border-box;
		padding: 16px 0;
		display: flex;
		font-size: 1rem;
		justify-content: space-between;
		border-bottom: 1px dotted #cccccc;
		&:last-child{
			border:none;
		}

		& .info{
			width: 70%;
			& .winename_CN{
				color: #666;
				line-height: 1.5rem;
			}

			& .winename_EN{
				color: #666;
				line-height: 1.25rem;
				margin-top: 3px;
			}

			& .wineinfo{
				color: #999;
				line-height: 1.25rem;
				margin-top: 8px;
				& span{
					display: inline-block;
					margin-left: 6px;
					&:after{
						content:'';
						display: inline-block;
						width: 1px;
						height: 11px;
						background-color: #999;
						margin-left: 10px;
					}

					&:first-child{
						margin-left: 0;
					}

					&:last-child:after{
						display: none;
					}
				}
			}
		}

		& .price_and_number{
			width: 30%;
			text-align: right;
			& .price{
				line-height: 1.5rem;
				font-weight: bold;
				color: #000;
			}

			& .trend{
				line-height: 1.25rem;
				margin-top: 3px;
				&.rise{
					color: #d30a0a;
				}

				&.drop{
					color: #0b7b62;
				}

				& strong{
					font-weight: bold;
				}

				& span{
					font-size: 0.875rem;
				}
			}

			& .number{
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
				margin-top: 5px;
				& img {
					width: 8px;
					height: auto;
				}

				& span{
					margin-left: 8px;
					color: #6e6e6e;
					font-size: 1.25rem;
					font-weight: bold;
				}
			}
		}
	}

	@include pad-width{
		padding:1.25rem;
		& .one_bottle{
			font-size: 1.25rem;
			padding: 20px 0;
			& .info{
				& .winename_CN{
					line-height: 1.875rem;
				}

				& .winename_EN{
					line-height: 1.5rem;
				}

				& .wineinfo{
					line-height: 1.5rem;
					& span{
						margin-left: 8px;
						&:after{
							height: 14px;
							margin-left: 12px;
						}
					}
				}


			}

			& .price_and_number{
				& .price{
					line-height: 1.875rem;
				}

				& .trend{
					line-height: 1.5rem;
					& span{
						font-size: 1.125rem;

					}
				}

				& .number{
					margin-top: 10px;
					& img{
						width: 10px;
					}

					& span{
						font-size: 1.5rem;
					}
				}
			}
		}
	}

	@include pad-width1024{
		& .one_bottle_img{
			width: calc((100% - 32px)/3);
			height: calc((100vw - 54px)/3*1.5);
			&:nth-child(2n){
				margin-right: 16px;
			}
			&:nth-child(3n){
				margin-right: 0;
			}
		}
	}
}

.detail_allyears{
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	& .one_year{
		width: calc((100% - 20px)/5);
		height: 40px;
		line-height: 40px;
		font-size: 1.125rem;
		text-align: center;
		color: #666;
		box-sizing: border-box;
		border: 1px solid #cccccc;
		border-radius: 5px;
		cursor: pointer;
		margin-left: 5px;
		margin-top: 5px;
		background-color: #fff;
		&:first-child{
			margin-left: 0;
		}

		&:nth-child(5n+1){
			margin-left: 0;
		}

		&.active{
			background-color: #8e6681;
			border-color: #8e6681;
			color: #fff;
		}
	}

	@include pad-width{
		& .one_year{
			width: calc((100% - 30px)/7);

			&:nth-child(5n+1){
				margin-left: 5px;
			}

			&:nth-child(7n+1){
				margin-left: 0;
			}
		}
	}
}

.detail_allcapacity{
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	& .one_capacity{
		width: calc((100% - 20px)/5);
		height: 40px;
		line-height: 40px;
		font-size: 1.125rem;
		text-align: center;
		color: #666;
		box-sizing: border-box;
		border: 1px solid #cccccc;
		border-radius: 5px;
		cursor: pointer;
		margin-left: 5px;
		margin-top: 5px;
		background-color: #fff;
		&:first-child{
			margin-left: 0;
		}

		&:nth-child(5n+1){
			margin-left: 0;
		}

		&.active{
			background-color: #8e6681;
			border-color: #8e6681;
			color: #fff;
		}
	}

	@include pad-width{
		& .one_capacity{
			width: calc((100% - 30px)/7);

			&:nth-child(5n+1){
				margin-left: 5px;
			}

			&:nth-child(7n+1){
				margin-left: 0;
			}
		}
	}
}

.detail_MoreInfo_layout{
	& .one_info_row{
		margin-top: 40px;
		& .title{
			font-size: 1rem;
			color: #666;
			& em{
				display: inline-block;
				width: 1px;
				height: 10px;
				background-color: #999;
				margin: 0 8px; 
			}
		}

		& .bottle_number{
			margin-top: 20px;
			display: flex;
			align-items: flex-end;
			& img{
				margin-left: 2px;
				width: 10px;
				height: auto;
			}

			& span{
				font-weight:bold;
				font-size: 1.75rem;
				line-height: 1.125rem;
				color: #6e6e6e;
				margin-left: 8px;
			}

			& .btn_getwine{
				font-size: 1.125rem;
				padding: 0 18px;
				height: 40px;
				line-height: 42px;
				border-radius: 5px;
				border:none;
				outline: none;
				background-color: $CWCColor;
				color: #fff;
				margin-left: 16px;
			}
		}

		& .text{
			margin-top: 12px;
			font-size: 1rem;
			font-weight: bold;
			color: #333;
			line-height: 1.25rem;
			& span{
				
				margin-left: 8px;
				&.rise{
					color: #d30a0a;
				}

				&.drop{
					color: #0b7b62;
				}
			}
		}
	}

	@include pad-width{
		& .one_info_row{
			& .title{
				font-size: 1.125rem;
				& em{
					height: 14px;
					margin: 0 10px;
				}
			}

			& .text{
				font-size: 1.125rem;
				line-height: 1.5rem;
			}
		}
	}

	@include large-pad-width{
		width: calc(55% + 40px);
		position: absolute;
		right: 40px;
		margin-top: -388px;
		padding-bottom: 190px;
		& .one_info_row{
			& .title{
				font-size: 1.375rem;
				& em{
					height: 16px;
					margin: 0 14px;
				}
			}

			& .text{
				font-size: 1.375rem;
				line-height: 1.75rem;
			}
		}
	}
}

/*取酒視窗用樣式*/
.PopWindow_CWC_row{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: flex-end;
	flex-wrap:wrap;
	justify-content: space-between;
	padding: 16px 0;
	border-top: 1px dotted #cccccc;
	&:first-child{
		border:none;
	}

	& .checkbox_and_info{
		display: flex;
		align-items: center;
	}
	& .option_check{
		width: 40px;
	    height: 40px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    cursor: pointer;
	    & .icon_check{
	    	width: 20px;
		    height: 20px;
		    border: 1px solid #cccccc;
		    border-radius: 3px;
		    &.active:after{
		    	content: '✓';
			    display: block;
			    color: #939334;
			    font-size: 1rem;
			    font-weight: bold;
		    }
	    }
	}

	& .bottle_info{
		font-size: 1rem;
		color: #666;
		margin-left: 8px;
		& span{
			margin-left: 8px;
			&:first-child{
				margin-left: 0;
			}
		}

		& span:after{
			content: '';
			display: inline-block;
			width: 1px;
			height: 10px;
			background-color: #999;
			margin-left: 8px;				
		}

		& span:last-child:after{
			display: none;
		}


	}

	& .bottle_number{
		display: flex;
		align-items: flex-end;
		& img{
			width: 10px;
			height: auto;
		}

		& span{
			font-size: 28px;
			color: #6e6e6e;
			font-weight: bold;
			margin-left: 8px;
		}
	}

	& .count{
		width: 100%;
		box-sizing: border-box;
		margin-top: 16px;
		display: none;
		justify-content: flex-end;
		& .icon_minus{
			width: 40px;
		    height: 40px;
		    border: 1px solid #cccccc;
		    background-color: #e5e5e5;
		    margin-right: 5px;
		    border-radius: 4px;
		    box-sizing: border-box;
		    cursor: pointer;
		    position: relative;
		    &:after{
		    	content: '';
			    width: 13px;
			    height: 3px;
			    background-color: #666666;
			    display: block;
			    position: absolute;
			    top: calc((100% - 3px)/2);
			    left: calc((100% - 13px)/2);
		    }
		}

		& .bottle_number{
			width: 80px;
		    height: 40px;
		    border: 1px solid #cccccc;
		    background-color: #ffffff;
		    border-radius: 4px;
		    box-sizing: border-box;
		    padding: 0 16px;
		    text-align: center;
		    font-size: 1rem;
		    line-height: 40px;
		    color: #666;
		    outline: none;
		}

		& .icon_plus{
			width: 40px;
		    height: 40px;
		    border: 1px solid #cccccc;
		    background-color: #e5e5e5;
		    margin-left: 5px;
		    border-radius: 4px;
		    box-sizing: border-box;
		    cursor: pointer;
		    position: relative;
		    &:before{
				content: '';
				width: 3px;
				height: 13px;
				background-color: #666666;
				display: block;
				position: absolute;
				top: calc((100% - 13px)/2);
				left: calc((100% - 3px)/2);
			}
			&:after{
				content: '';
				width: 13px;
				height: 3px;
				background-color: #666666;
				display: block;
				position: absolute;
				top: calc((100% - 3px)/2);
				left: calc((100% - 13px)/2);
			}
		}
	}

	@include pad-width{
		& .bottle_info{
			font-size: 1.125rem;
		}
	}
}

.Popwindow_GetWineBtn{
	width: 100%;
	margin-top: 24px;
	height: 60px;
	line-height: 60px;
	background-color: #904d06;
	border-radius: 5px;
	font-size: 1.5rem;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

/*修改詳目頁樣式給CWC用*/
.CWC .detail_BasicInfo{
	@include large-pad-width{
		top: 40px;
	}
}

.CWC .footer{
	@include large-pad-width{
		position: fixed;
		bottom: 100px;
		margin-bottom: 0;
		z-index: 99;
	}
}


/*CWC cart用*/
.CWC_cart_content .options_layout{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #cccccc;
	& .options{
		width: auto;
	}
	& .delivery_count_sum{
		margin-top: 32px;
		margin-bottom: 8px;
		@extend %SectionLayout;
		font-size: 1rem;
		color: #666;
		& span{
			color: #c29c20;
			font-weight: bold;
			margin: 0 8px;
		}

		@include pad-width{
			font-size: 1.375rem;
			margin-bottom: 20px;
		}
	}
}

.CWC .cart_step_row{
	position: relative;
	justify-content: space-between;
	&:after{
		content: '';
		display: block;
		width: 75%;
		height: 3px;
		background-color: #ebebeb;
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		top: 37px;
		margin: 0 auto;
	}

	& .one_dot{
		width: 25%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		& .dot{
			width: 24px;
			height: 24px;
			box-sizing: border-box;
			border: 4px solid #ebebeb;
			background-color: #ebebeb;
			border-radius: 50%;
		}

		& .text{
			width: 100%;
			font-size: 1rem;
			color: #ebebeb;
			text-align: center;
			margin-bottom: 10px;
		}

		&.active{
			& .dot{
				border-color: #904d06;
			}

			& .text{
				color: #333;
			}
		}
	}
	
}

.CWC .cart_list_OneBottle{
	& .bottle_info{
		margin-left: 0;
		width:calc(100% - 40px);
		& .status{
			& span:last-child{
				&:after{
					display: none;
				}
			}
		}

		& .storage_avg_price{
			font-size: 1rem;
			color: #666;
			margin-top: 8px;
			display: flex;
			align-items: center;
			& span{
				&.icon{
					margin-left: 8px;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					border: 1px solid #999;
					font-size: 11px;
					text-align: center;
					line-height: 18px;
					color: #999;
					cursor: pointer;
				}
			}
		}
	}

	& .count_price{
		& .count_storage{
			width: 100%;
			text-align: right;
			font-size: 1rem;
			color: #666;
			margin-top: 10px;
			& span{
				font-weight: bold;
				margin: 0 8px;
			}
		}
	}

	@include pad-width{

		& .bottle_info{
			width: calc(100% - 88px);
			& .storage_avg_price{
				font-size: 1.375rem;
				margin-top: 12px;
				& span{
					&.icon{
						width: 22px;
						height: 22px;
						font-size: 13px;
						margin-left: 12px;
						line-height: 22px;
					}
				}
			}
		}

		& .count_price{
			& .count_storage{
				font-size: 1.375rem;
				margin-top: 16px;
			}
		}

	}

	@include pad-width1024{
		& .bottle_info{
			margin-left: 0;
			width: 55%;
		}

		& .options{
			position: absolute;
			right: 0;
			top: 0;
		}

		& .count_price{
			margin-left: 44px;
			margin-top: 54px;
			width: calc(45% - 44px);
		}
	}
}

.CWC .cart_list_layout{
	&:first-child{
		padding-top: 16px;
	}
	
}

.CWC .cart_form_row{
	& #DeliveryInfo_Type:after{
		@extend %clearfix;
	}

	& #DeliveryInfo_TypeInfo{
		color: #999;
		margin-top: 8px;
		text-align:center;
	}

	@include pad-width{
		& #DeliveryInfo_Type{
			width: 100%;

			& .dropdown{
				width: 100%;
				height: 3rem;
				box-sizing: border-box;
				float: none;
				margin-right: 0;
			}
		}
	}
}