//StoreColors
$WineColor : #8e6681;
$WhiskyColor : #e3a806;
$BeerColor : #000000;

//MainColors
$NoticeColor : #b00808;
$BorderColor : solid 1px #cccccc;
$FastColor : #ef9c00;
$PreorderColor : #0071bc;
$NormalColor : #cf3448;
$NormalColor-black : #4d4d4d;
$SoldColor : #929091;

//font color
$TextColor: #666666;
$TitleColor: #333333;
$NoticeColor: #B00808;
$QuoteColor: #c08f1a;

//fontsize
$PhoneTitleFontSize: 1.25rem;
$PhoneSecondTitleFontSize: 1rem;
$PhoneContentFontSize: 0.875rem;
$PadTitleFontSize: 1.75rem;
$PadSecondTitleFontSize: 1.5rem;
$padContentFontSize: 1.25rem;

//mediaquery size
$PadWidth : 760px;
$PadWidth-L : 1020px;
$LargePadWidth: 1360px;

@mixin phone-l(){
	@media screen and (orientation: landscape) {
		@content;
	}
}

@mixin pad-width() {
	@media screen and (min-width: $PadWidth){
		@content;
	}
}

@mixin pad-width1024() {
	@media screen and (min-width: 1024px){
		@content;
	}
}

@mixin pad-width-l() {
	@media screen and (orientation: landscape) and (min-width: $PadWidth-L){
		@content;
	}
}

@mixin large-pad-width() {
	@media screen and (min-width: $LargePadWidth){
		@content;
	}
}

%SectionLayout {
	padding:0 16px;
	box-sizing: border-box;
	background-color: #fff;
	position: relative;
	@include pad-width{
		padding: 0 32px;
	}

	@include large-pad-width{
		padding: 0 40px;
	}
}


//mediaquery padding
$PhonePadding : 12px;
$PadPadding : 20px;
$LargePadPadding : 40px;


//clearfix
%clearfix{
	content:'';
	display:block;
	clear: both;
}

%backgroundimagecover{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

%backgroundimagecontain{
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

//Icons
@mixin FastIcon ($IconWidth,$IconHeight) {
	display: inline-block;
	width: $IconWidth;
	height: $IconHeight;
	background-image: url(../images/mobile/fasticon_color.png);
	background-size: cover;
	@content;
}

@mixin NormalIcon ($IconWidth,$IconHeight) {
	display: inline-block;
	width: $IconWidth;
	height: $IconHeight;
	background-image: url(../images/mobile/normalicon_color.png);
	background-size: cover;
	@content;
}

@mixin PreorderIcon ($IconWidth,$IconHeight) {
	display: inline-block;
	width: $IconWidth;
	height: $IconHeight;
	background-image: url(../images/mobile/preordericon_color.png);
	background-size: cover;
	@content;
}

//bottle img oblique
@mixin BottleImgOblique ($ImgSize) {
	width: $ImgSize;
	height: $ImgSize;
	border: $BorderColor;
	& img{
		width: 100%;
		height: 100%;
	}
}

//bottle name en
@mixin BottleNameEN ($FontSize) {
	font-size: $FontSize;
	color: #666666;
	@content;
}

//bottle name cn
@mixin BottleNameCN ($FontSize) {
	font-size: $FontSize;
	color: #808080;
	@content;
}

//bottle info
@mixin BottleInfo ($FontSize,$SpanSpace) {
	font-size: $FontSize;
	color: #808080;
	& span {
		padding: 0 $SpanSpace;
		border-left: $BorderColor;
		float: left;
	}

	& span:first-child {
		padding-left: 0;
		border-left: none;
	}
	@content;
}

//bottle price
@mixin BottlePrice ($FontSize,$FontColor) {
	font-size: $FontSize;
	color: $FontColor;
	font-weight: bolder;
	width: 100%;
	float: right;
	margin-top: 10px;
	text-align: right;
	@content;
}

//addcart price
@mixin AddCartPrice ($PriceColor) {
	display:inline-block;
	float: left;
	color: $PriceColor;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	font-size: 1.875rem;
	margin-right: 0.75rem;
	@include pad-width{
		font-size: 2.25rem;
	}
}

@mixin AddCartIcon ($IconColor,$IconImg) {
	width: 40px;
	height: 40px;
	@include border-radius(4px);
	float: left;
	border: none;
	background-color: $IconColor;
	background-image: $IconImg;
	@extend %backgroundimagecontain;
}

@mixin AddCartIconWithText ($IconColor,$IconImg) {
	width: auto;
	height: 40px;
	font-size: 1rem;
	line-height: 40px;
	color: #fff;
	padding-left: 12px;
	padding-right: 6px;
	font-family: 'Arial','Microsoft JhengHei';
	@include border-radius(4px);
	float: left;
	border: none;
	background-color: $IconColor;
	&:after{
		content:'';
		display:block;
		width: 35px;
		height: 35px;
		margin-right: -5px;
		float: right;
		background-image: $IconImg;
		@extend %backgroundimagecontain;
	}
}

//Cart
@mixin Cart_Wine_DetailInfo (){
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	& .bottle_img{
		width: 68px;
		height: 68px;
		border: 1px solid #cccccc;
		box-sizing: border-box;
		margin-left: 40px;
		& img{
		 	width: 100%;
    		height: auto;
		}
	}
	& .bottle_info{
		width: calc(100% - 68px - 14px - 40px);
		margin-left: 14px;
		& .name_cn{
			font-size: 1rem;
			line-height: 1.5rem;
			color: #666;
		}
		& .name_en{
			font-size: 1rem;
			line-height: 1.3rem;
			color: #666;
		}
		& .status{
			display: flex;
			font-size: 1rem;
			line-height: 1.3rem;
			color: #666;
			margin-top: 5px;
			& span{
				&:after{
					content: '';
					display: inline-block;
					width: 1px;
					height: 13px;
					background-color: #999999;
					margin:0 8px;
				}
				&:nth-child(3):after{
					display: none;
				}
			}
			& .icon_nobonus{
				width: 18px;
				height: 18px;
				margin-left: 8px;
			}

			& .icon_text{
				font-size: 14px;
				color: #fff;
				padding: 4px 8px;
				background-color: #999;
				border-radius: 5px;
				margin-right: 5px;
			}
		}

		& .expired_date{
			font-size: 1rem;
			line-height: 1.3rem;
			color: #666;
			margin-top: 6px;
		}
	}

	& .beer{
		& span{
				&:nth-child(2):after{
					display: none;
				}
			}
	}

	& .sake{
		& span{
				&:nth-child(2):after{
					display: none;
				}
			}
	}

	@media screen and (orientation: landscape){
		& .bottle_info{
			width: 45%;
		}
	}

	@media screen and (min-width:768px){
		& .bottle_img{
			width: 135px;
			height: 135px;
		}

		& .bottle_info{
			width: calc(100% - 44px - 135px - 18px);
			margin-left: 18px;
			& .name_cn{
				font-size: 1.375rem;
				line-height: 2rem;
			}

			& .name_en{
				font-size: 1.375rem;
				line-height: 1.85rem;
			}

			& .status{
				font-size: 1.375rem;
				line-height: 1.85rem;
				& span{
					&:after{
						height: 18px;
						margin:0 12px;
					}
				}
				& .icon_nobonus{
					width: 21px;
					height: 21px;
					margin-left: 12px;
					margin-top: 3px;
				}
			}

			& .expired_date{
				font-size: 1.375rem;
				line-height: 1.85rem;
				margin-top: 6px;
			}
		}
	}

	@media screen and (min-width:1024px){
		& .bottle_info{
			width: 40%;
		}
	}
	@content;
}

@mixin Cart_Wine_Count_Price () {
	width: 100%;
	position: relative;
	margin-top : 16px;
	& .count{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		& .text{
			font-size: 1rem;
			color: #666;
			letter-spacing: 16px;
		}
		& .icon_minus{
			width: 40px;
			height: 40px;
			border: 1px solid #cccccc;
			background-color: #e5e5e5;
			margin-right: 5px;
			border-radius: 4px;
			box-sizing: border-box;
			cursor: pointer;
			position: relative;
			&:after{
				content: '';
				width: 13px;
				height: 3px;
				background-color: #666666;
				display: block;
				position: absolute;
				top: calc((100% - 3px)/2);
				left: calc((100% - 13px)/2);
			}
		}
		& .bottle_number{
			width: calc(100% - 68px - 14px - 40px - 80px - 10px);
			height: 40px;
			border: 1px solid #cccccc;
			background-color: #ffffff;
			border-radius: 4px;
			box-sizing: border-box;
			padding: 0 16px;
			text-align: center;
			font-size: 1rem;
			line-height: 40px;
			color: #666;
			outline:none;
		}

		& .icon_plus{
			width: 40px;
			height: 40px;
			border: 1px solid #cccccc;
			background-color: #e5e5e5;
			margin-left: 5px;
			border-radius: 4px;
			box-sizing: border-box;
			cursor: pointer;
			position: relative;
			&:before{
				content: '';
				width: 3px;
				height: 13px;
				background-color: #666666;
				display: block;
				position: absolute;
				top: calc((100% - 13px)/2);
				left: calc((100% - 3px)/2);
			}
			&:after{
				content: '';
				width: 13px;
				height: 3px;
				background-color: #666666;
				display: block;
				position: absolute;
				top: calc((100% - 3px)/2);
				left: calc((100% - 13px)/2);
			}
		}
	}

	& .price{
		margin-top: 16px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		& .text{
			font-size: 1rem;
			color: #333;
		}
		& .bottle_price{
			margin-left: 10px;
			font-size: 1.5rem;
			color: #000;
			font-weight: bold;
			&.fast{
				color: $FastColor;
			}

			&.normal{
				color: $NormalColor;
			}

			&.preorder{
				color: $PreorderColor;
			}
		}
	}

	& .delivery[style*="flex"] + .storage{
		margin-top: 12px;
	}

	@media screen and (orientation: landscape){
		width: calc(55% - 68px - 14px - 14px);
		margin-left: 14px;
		margin-top: 0;
	}

	@media screen and (min-width:768px){
		width: 50%;
		& .count{
			& .text{
				font-size: 1.375rem;
			}

			& .icon_minus{
				width: 44px;
				height: 44px;
				margin-right: 10px;
				&:after{
					width: 20px;
					height: 4px;
					top: calc((100% - 4px)/2);
					left: calc((100% - 20px)/2);
				}
			}

			& .bottle_number{
				width: calc(100% - 76px - 14px - 88px - 20px);
				height: 44px;
				font-size: 1.375rem;
				line-height: 44px;
			}

			& .icon_plus{
				width: 44px;
				height: 44px;
				margin-left: 10px;
				&:before{
					width: 4px;
					height: 20px;
					top: calc((100% - 20px)/2);
					left: calc((100% - 4px)/2);
				}
				&:after{
					width: 20px;
					height: 4px;
					top: calc((100% - 4px)/2);
					left: calc((100% - 20px)/2);
				}
			}
		}

		& .price{
			margin-top: 24px;
			& .text{
				font-size: 1.375rem;
			}
			& .bottle_price{
				font-size: 2rem;
			}
		}

		& .delivery[style*="flex"] + .storage{
			margin-top: 18px;
		}
	}

	@media screen and (min-width:1024px){
		width: calc(60% - 40px - 135px - 18px - 18px);
		min-height: 135px;
		& .count{
			& .bottle_number{
				width: 180px;
			}
		}
	}

	@content;
}


@mixin DottedLine () {
	width: calc(100% - 2rem);
	margin: 0 auto;
	border-bottom: 1px dotted #cccccc;
	@content;
}

@mixin SeparateLine () {
	width: 100%;
	height: 1px;
	background-color: #cccccc;
	@content;
}

//button
@mixin Buttons ($BGcolor,$TextColor) {
	padding: 0 1.25rem;
	height: 40px;
	line-height: 40px;
	background-color: $BGcolor;
	color: $TextColor;
	font-size: 1.125rem;
	text-align:center;
	float:left;
	margin-right: 5px;
	@include border-radius(4px);
	&:last-child{
		margin-right: 0;
	}
}

@mixin CloseBtn ($Color) {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 999;
	cursor: pointer;
	&:before{
		content: '';
		display: block;
		border-top: 1px solid $Color;
		width: 25px;
		height: 1px;
		@include border-radius(1px);
		background-color: $Color;
		transform: rotate(45deg);
		position: absolute;
		top: 18px;
		left: 8px;
	}

	&:after{
		content: '';
		display: block;
		border-top: 1px solid $Color;
		width: 25px;
		height: 1px;
		@include border-radius(1px);
		background-color: $Color;
		transform: rotate(-45deg);
		position: absolute;
		top: 18px;
		left: 8px;
	}
}

@mixin ConfirmBtn {
	width: 100%;
	margin: 0 auto;
	margin-top: 1.5rem;
	@include border-radius(4px);
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	background-color: #939334;
	font-weight: bold;
	font-size: 1.5rem;
	@include pad-width{
		width: 380px;
	}
}

@mixin ConfirmBtnGray {
	width: 100%;
	margin: 0 auto;
	margin-top: 1.5rem;
	@include border-radius(4px);
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	background-color: #999999;
	font-weight: bold;
	font-size: 1.5rem;
	@include pad-width{
		width: 380px;
	}
}

@keyframes TrackingBtn {
	0%{transform: scale(0.95);}
    100%{transform: scale(1);}
}